/*Que todas las cajas de la página tengan border-box*/
*{
    box-sizing: border-box;
}
/*colorea el background*/
body{
    background-color: #FFF4D8;
}
/*Coloca el background del header y coloca su position en relative, para poder usar la posición
absolute para los miembros del header*/
header{
    margin:0 auto;
    background-image: url("../images/imgDondeCoste2.jpg");
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 30vh;
    position: relative;
}
/*Estiliza el párrafo del header*/
header > p.headerMessage{
    width:fit-content;
    font-size: 1.2em;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 5%;
    border: 1px #000000 solid;
    padding: 1%;
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 1%;
    position: absolute;
    top:50%;
    left: 3%;
}
/*centra el nav, le da color, padding*/
nav{
    margin: 0 auto;
    background-color:#4175e4;
    padding: 0.5%;
    color: #ffffff;
    font-size: 1.5em;
    width: 100%;
    position:absolute;
    top:100%;
}
/*las lineas en los menus*/
hr.line{
    margin: 0;
}
/*nav .dropBtn{
    text-align: center;
}*/
/*Muestra el dropContent cuando se hacer click sobre el div .dropBtn*/
/*nav .dropBtn:active + .dropContent{
    display:block;
}*/
/*Muestra el dropContent cuando se hacer el hover sobre el div .dropBtn*/
/*nav .dropBtn:hover + .dropContent{
    display: block;
}*/
/*Estiliza los componentes del menú*/
nav a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
nav .dropContent a:hover{
    background-color: #F2D12A;
}

nav .dropContent{
    display: none;
}
nav .dropContent:hover{
    display: block;
    width: 100%;
    text-align: center;
}

div.option{
    margin-top: 5%;
    text-align: center;
    background-color: #660101;
    color: #ffffff;
    position: relative;
}

div.option img{
    width: 100%;
}

div a iframe{
    width: 100%;
    border: 1px #000000 solid;
    margin: 0;
    padding: 0;
}

div.option span{
    font-size: 1.8em;
}

footer p{
    border: 1px #000000 solid;
    background-color: #660101;
    padding: 2%;
    color: #ffffff;
    text-align: center;
    font-size: 2em;
}

@media screen and (min-width:760px){
    
}